# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.migration
*.iml

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.lock

# Android
android/**/gradle-wrapper.jar
android/.gradle/
android/local.properties
android/**/*.iml
android/captures/
android/key.properties
*.jks

# iOS
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/*sync/
ios/**/.sconsign.dblite
ios/**/.tags*
ios/**/.vagrant/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.xcworkspace/xcshareddata/

# IDE
.idea/
.vscode/
*.iml

# Environment
.env
.env.*
